{{#if users.length}}
    {{#each users}}
    <div>
        <p>Nombre: {{firstname}}</p>
        <p>Apellido: {{lastname}}</p>
        <p>Email: {{mail}}</p>
        <p>Teléfono: {{phone}}</p>
        <p>Edad: {{age}}</p>
    <br>
    </div>
    {{/each}}
{{else}}
    <p>No existen usuarios!</p>
{{/if}}
<script src="index.js"></script>